<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <span>Copyright &copy; StoryBook</span>
            </div>
        </div>
    </div>
</footer>